<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
    </head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="sc-mechanical-frame-outer">
                    <div class="sc-mechanical-frame-inner">
                        <div class="button-panel">
                    <a ui-sref="about"><button type="button">State Panel</button></a><br>
                    <a ui-sref="skillpanel"><button type="button">Skill Panel</button></a><br>
                    <a ui-sref="worklog"><button type="button" class="active">Work Log</button></a><br>
                    <a ui-sref="cv"><button type="button">CV Page</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div ui-view>
                    <div class="card-box white-frame shadow-expand">
                        <p>Dear colonist officer,<br>
                        Select a work report from the list below</p>
                    </div>
                    <div class="card-box white-frame shadow-expand report-list">
                        <a data-toggle="collapse" data-target="#ft-report" class="fa fa-folder-open">Work Reports in Avartar International Lt -- Project Funtown</a>
                        <div class="collapse" id="ft-report">
                            <li><a ui-sref=".report1">Report 1</a></li>
                            <li><a ui-sref=".report2">Report 2</a></li>
                            <li><a ui-sref=".report3">Report 3</a></li>
                            <li><a ui-sref=".report4">Report 4</a></li>
                            <li><a ui-sref=".report5">Report 5</a></li>
                            <li><a ui-sref=".report6">Report 6</a></li>
                            <li><a ui-sref=".report7">Report 7</a></li>
                            <li><a ui-sref=".report8">Report 8</a></li>
                            <li><a ui-sref=".report9">Report 9</a></li>
                            <li><a ui-sref=".report10">Report 10</a></li>
                            <li><a ui-sref=".report11">Report 11</a></li>
                            <li><a ui-sref=".report12">Report 12</a></li>
                        </div><br>
                        <a data-toggle="collapse" data-target="#my-report" class="fa fa-folder-open">My own experience in website building and code learning</a>                        
                        <div class="collapse" id="my-report">
                            <li><a ui-sref=".report13">Article 1</a></li>
                            <li><a ui-sref=".report14">Article 2</a></li>
                            <li><a ui-sref=".report15">Article 3</a></li>
                            <li><a ui-sref=".report16">Article 4</a></li>
                        </div>
                        <a data-toggle="collapse" data-target="#my-studynote" class="fa fa-folder-open">My Study Note</a>                        
                        <div class="collapse" id="my-studynote">
                            <li><a ui-sref=".noteNodeJS">Node.js</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>