<div class="container">
    <div class="card-box white-frame shadow-expand">
    	<p>Intro text</p>
    </div>

    <div class="card-box green-frame shadow-expand">
    	<div class="row">
			<div class="col-4">
				<div class="sc-frame-outer project-pic">
					<a href="https://charles-alienworld.herokuapp.com/" target="_blank">
						<div class="sc-frame-middle project-pic">
							<div class="sc-frame-inner project-pic">
								<img src="../../../../assets/images/cv.jpg" alt="portrait" class="project-pic">
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-8">
				<h4>Official Personal Website: Charles' Alien World</h4>
				<ul>
					<li>Main DevTools: <span>nodeJS</span>, <span>AngularJS</span>, <span>Express</span>, <span>Gulp</span></li>
					<li>Current Release: May 28th, 2017</li>
					<li>Description:
						<ol>
							<li>A Huge Archieve demonstrating Charles' interest in coding</li>
							<li>Without cloning any templates or code from other website, I built this app from scratch, to give a real test to my creativity</li>
							<li>More than 200 commits and still being updated using newest skills every day</li>
							<li>Tons of hand-written work reports, small apps and articles created by Charles</li>
						</ol>
					</li>
					<li>Source code: <a href="https://github.com/Sachielsc/alienworld-web.git" target="_blank">https://github.com/Sachielsc/alienworld-web.git</a></li>
					<li>App URL: <a href="https://charles-alienworld.herokuapp.com/" target="_blank">https://charles-alienworld.herokuapp.com/</a></li>
				</ul>
			</div>
		</div>
    </div>

    <div class="card-box green-frame shadow-expand">
    	<div class="row">
			<div class="col-4">
				<div class="sc-frame-outer project-pic">
					<a href="https://testproject-1-heroku.herokuapp.com/" target="_blank">
						<div class="sc-frame-middle project-pic">
							<div class="sc-frame-inner project-pic">
								<img src="../../../../assets/images/businesscards.jpg" alt="portrait" class="project-pic">
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-8">
				<h4>Charles' Bunsiness Card Management Tool</h4>
				<ul>
					<li>Main DevTools: <span>jQuery</span>, <span>AngularJS</span></li>
					<li>Current Release: v 2.0.0 on Aug 3rd, 2017</li>
					<li>Description:
						<ol>
							<li>Extract data from online resource and generate a list of contacts</li>
							<li>Automatically generate a business card with a selected contact person in the list</li>
							<li>A basic search function</li>
							<li>Automatically generate an admin's report, as a statistics of the database</li>
							<li>Trying to add a filtering or sorting function in v 3.0</li>
						</ol>
					</li>
					<li>Source code: <a href="https://github.com/Sachielsc/testproject1.git" target="_blank">https://github.com/Sachielsc/testproject1.git</a></li>
					<li>App URL: <a href="https://testproject-1-heroku.herokuapp.com/" target="_blank">https://testproject-1-heroku.herokuapp.com/</a></li>
				</ul>
			</div>
		</div>
    </div>



</div>