<!DOCTYPE html>
<html>
    <head>
        <title>Charles' CV</title>
    </head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card-box button-panel button-panel-about">
                    <a ui-sref="about"><button type="button">State Panel</button></a><br>
                    <a ui-sref="skillpanel"><button type="button">Skill Panel</button></a><br>
                    <a ui-sref="worklog"><button type="button">Work Log</button></a><br>
                    <a ui-sref="cv"><button type="button" class="active">CV Page</button></a>
                </div>
            </div>
            <div class="col-9">
                <div class="intro">
                    <p>Here is Charles' CV. Click <a ui-sref="cvfull">HERE</a> to watch it in full-scale.</p>
                </div>
                <div class="card-box">
                    <div ui-view>
                        <!-- the beginning of CV -->
                        <div class="container cv cv-inpage">
                        cv-inpage here
                        </div>
                        <!-- the ending of the CV -->
                    </div> 
                </div>
            </div>
        </div>
    </div>
</body>

</html>