<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
    </head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="sc-mechanical-frame-outer">
                    <div class="sc-mechanical-frame-inner">
                        <div class="button-panel">
                    <a ui-sref="about"><button type="button">State Panel</button></a><br>
                    <a ui-sref="skillpanel"><button type="button" class="active">Skill Panel</button></a><br>
                    <a ui-sref="worklog"><button type="button">Work Log</button></a><br>
                    <a ui-sref="cv"><button type="button">CV Page</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div ui-view>
                    <div class="card-box white-frame shadow-expand">
                        <p>Dear colonist officer,<br>
                        Welcome to Charles SHU's research lab. You can check all the abilities I gain so far.<br><b>You can also click on some items to see more details.</b></p>
                    </div>
                    <div class="card-box white-frame shadow-expand">
                        <h4>Programming Skills:</h4>
                        <div class="skill-bar-list">
                            <div class="skill-bar">
                                <a data-toggle="collapse" data-target="#AngularJS">AngularJS</a>
                                <div class="aw-progress-barbackground">
                                    <div class="aw-progress-bar aw-progress-bar-queen"></div>
                                </div>
                                <div class="collapse" id="AngularJS">
                                    <p>ui.router</p>
                                    <div class="aw-progress-barbackground">
                                        <div class="aw-progress-bar aw-progress-bar-queen"></div>
                                    </div>
                                    <p>angular-animate</p>
                                    <div class="aw-progress-barbackground">
                                        <div class="aw-progress-bar aw-progress-bar-queen"></div>
                                    </div>
                                    <p>promise</p>
                                    <div class="aw-progress-barbackground">
                                        <div class="aw-progress-bar aw-progress-bar-xenomorph"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="skill-bar">
                                <a data-toggle="collapse" data-target="#js">JavaScript</a>
                                <div class="aw-progress-barbackground">
                                    <div class="aw-progress-bar aw-progress-bar-chestburster"></div>
                                </div>
                                <div class="collapse" id="js">
                                    <p>jQuery</p>
                                    <div class="aw-progress-barbackground">
                                        <div class="aw-progress-bar aw-progress-bar-xenomorph"></div>
                                    </div>
                                </div>                                
                            </div>

                            <div class="skill-bar">
                                <a data-toggle="collapse" data-target="#css">CSS</a>
                                <div class="aw-progress-barbackground">
                                    <div class="aw-progress-bar aw-progress-bar-queen"></div>
                                </div>
                                <div class="collapse" id="css">
                                    <p>Bootstrap</p>
                                    <div class="aw-progress-barbackground">
                                        <div class="aw-progress-bar aw-progress-bar-queen"></div>
                                    </div>
                                    <p>CSS -webkit</p>
                                    <div class="aw-progress-barbackground">
                                        <div class="aw-progress-bar aw-progress-bar-xenomorph"></div>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="skill-bar">
                                <p>Java</p>
                                <div class="aw-progress-barbackground">
                                    <div class="aw-progress-bar aw-progress-bar-facehugger"></div>
                                </div>
                            </div>

                            <div class="skill-bar">
                                <p>PHP</p>
                                <div class="aw-progress-barbackground">
                                    <div class="aw-progress-bar aw-progress-bar-facehugger"></div>
                                </div>
                            </div>

                            <div class="skill-bar">
                                <p>MySQL</p>
                                <div class="aw-progress-barbackground">
                                    <div class="aw-progress-bar aw-progress-bar-facehugger"></div>
                                </div>
                            </div>

                            <div class="skill-bar">
                                <p>Selenium</p>
                                <div class="aw-progress-barbackground">
                                    <div class="aw-progress-bar aw-progress-bar-egg"></div>
                                </div>
                            </div>

                            <div class="skill-bar">
                                <p>Gulp</p>
                                <div class="aw-progress-barbackground">
                                    <div class="aw-progress-bar aw-progress-bar-facehugger"></div>
                                </div>
                            </div>

                            <div class="skill-bar">
                                <p>Node.js</p>
                                <div class="aw-progress-barbackground">
                                    <div class="aw-progress-bar aw-progress-bar-chestburster"></div>
                                </div>
                            </div>

                            <div class="skill-bar">
                                <p>Git</p>
                                <div class="aw-progress-barbackground">
                                    <div class="aw-progress-bar aw-progress-bar-queen"></div>
                                </div>
                            </div>

                            <div class="skill-bar">
                                <p>JIRA</p>
                                <div class="aw-progress-barbackground">
                                    <div class="aw-progress-bar aw-progress-bar-chestburster"></div>
                                </div>
                            </div>
                            
                            <div class="skill-bar">
                                <p>Linux</p>
                                <div class="aw-progress-barbackground">
                                    <div class="aw-progress-bar aw-progress-bar-xenomorph"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>