<div class="container">
    <div class="card-box white-frame shadow-expand">
        <p>Here is a simple demonstration of the projects Charles takes part in. Click on some of the links below will guide you to another website.</p>
    </div>

    <div class="card-box green-frame shadow-expand">
        <div class="row">
            <div class="col-0 col-lg-4">
                <div class="sc-frame-outer project-pic">
                    <a href="https://charles-alienworld.herokuapp.com/" target="_blank">
                        <div class="sc-frame-middle project-pic">
                            <div class="sc-frame-inner project-pic">
                                <img src="../../../../assets/images/cv.jpg" alt="portrait" class="project-pic">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-0 col-lg-8">
                <h4>Official Personal Website: Charles' Alien World</h4>
                <ul>
                    <li>Main DevTools: <span>nodeJS</span>, <span>AngularJS</span>, <span>Express</span>, <span>Gulp</span></li>
                    <li>Current Release: May 28th, 2017</li>
                    <li>Description:
                        <ol>
                            <li>A Huge Archieve demonstrating Charles' interest in coding</li>
                            <li>Without cloning any templates or code from other website, I built this app from scratch, to give a real test to my creativity</li>
                            <li>More than 200 commits and still being updated using newest skills every day</li>
                            <li>Tons of hand-written work reports, small apps and articles created by Charles</li>
                        </ol>
                    </li>
                    <li>Source code: <a href="https://github.com/Sachielsc/alienworld-web.git" target="_blank">https://github.com/Sachielsc/alienworld-web.git</a></li>
                    <li>App URL: <a href="https://charles-alienworld.herokuapp.com/" target="_blank">https://charles-alienworld.herokuapp.com/</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card-box green-frame shadow-expand">
        <div class="row">
            <div class="col-0 col-lg-4">
                <div class="sc-frame-outer project-pic">
                    <a href="https://testproject-1-heroku.herokuapp.com/" target="_blank">
                        <div class="sc-frame-middle project-pic">
                            <div class="sc-frame-inner project-pic">
                                <img src="../../../../assets/images/businesscards.jpg" alt="business cards" class="project-pic">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-0 col-lg-8">
                <h4>Charles' Bunsiness Card Management Tool</h4>
                <ul>
                    <li>Main DevTools: <span>jQuery</span>, <span>AngularJS</span></li>
                    <li>Current Release: v 2.0.0 on Aug 3rd, 2017</li>
                    <li>Description:
                        <ol>
                            <li>Extract data from online resource and generate a list of contacts</li>
                            <li>Automatically generate a business card with a selected contact person in the list</li>
                            <li>A basic search function</li>
                            <li>Automatically generate an admin's report, as a statistics of the database</li>
                            <li>Trying to add a filtering or sorting function in v 3.0</li>
                        </ol>
                    </li>
                    <li>Source code: <a href="https://github.com/Sachielsc/testproject1.git" target="_blank">https://github.com/Sachielsc/testproject1.git</a></li>
                    <li>App URL: <a href="https://testproject-1-heroku.herokuapp.com/" target="_blank">https://testproject-1-heroku.herokuapp.com/</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card-box green-frame shadow-expand">
        <div class="row">
            <div class="col-0 col-lg-4">
                <div class="sc-frame-outer project-pic">
                    <div class="sc-frame-middle project-pic">
                        <div class="sc-frame-inner project-pic">
                            <img src="../../../../assets/images/The Improvement Plan of Official Websites.jpg" alt="The Improvement Plan of Official Websites.jpg" class="project-pic">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-0 col-lg-8">
                <h4>Charles' Improvement Plan of Official Websites</h4>
                <ul>
                    <li>Main DevTools: Depending on each website, mostly <span>jQuery</span> and <span>javascript</span></li>
                    <li>Description:
                        <ol>
                            <li>An ongoing plan: I searched for official websites of local companies in IT and relative domains, learnt from them, and tried to find places that can be done better;</li>
                            <li>Developed mature aesthetic as a project manager and wrote my personal opinions in UI design;</li>
                            <li>Always use my experience or gain new skills to give a practical solution, making the website look nicer and work better</li>
                            <li>Check more details <a ui-sref="worklog">HERE</a></li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card-box green-frame shadow-expand">
        <div class="row">
            <div class="col-0 col-lg-4">
                <div class="sc-frame-outer project-pic">
                    <div class="sc-frame-middle project-pic">
                        <div class="sc-frame-inner project-pic">
                            <img src="../../../../assets/images/coverletter-pic-1.png" alt="The funtown.jpg" class="project-pic">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-0 col-lg-8">
                <h4>Project "Funtown" at Avartar International Lt</h4>
                <ul>
                    <li>Main DevTools: <span>Java (Spring Tool Suite™)</span>, <span>AngularJS</span>, <span>Gulp</span></li>
                    <li>Description:
                        <ol>
                            <li>We are a bunch of website-building fans who aim at establishing a large-scale but cheap E-store in NZ</li>
                            <li>My job focused on the item-search API and item-details API, and layout design of the purchase page;</li>
                            <li>Duty also included merging all other teammates’ code into master branch, solving all the conflicts and keeping a clean and linear comment history;</li>
                            <li>Real good practical exercise in AngularJS and RESTful architecture.</li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>