<div class="container">
    <div class="card-box white-frame shadow-expand">
    <p>Intro text</p>
    </div>
    <div class="card-box green-frame shadow-expand">
		<div class="row">
			<div class="col-4">
				<div class="sc-frame-outer project-pic">
					<div class="sc-frame-middle project-pic">
						<div class="sc-frame-inner project-pic">
							<img src="../../../../assets/images/portrait.jpg" alt="portrait" class="project-pic">
						</div>
					</div>
				</div>
			</div>
			<div class="col-8">
				<h4>Project A</h4>
				<ul>
					<li>D1</li>
					<li>D2</li>
					<li>D3</li>
				</ul>
			</div>
		</div>
    </div>

</div>