<div class="cv cv-fullpage">
	<div class="wrapper cv-wrapper">
		<div class="cv-content">
			<div class="row cv-potrait">
				<div class="col-6">
					<div class="cv-name">
						<h3><span>Charles SHU</span></h3>
					</div>
				</div>
				<div class="col-6">
					<div class="cv-contact">
						<ul class="list-unstyled">
							<li><i class="fa fa-linkedin-square fa-fw"></i><a href="https://www.linkedin.com/in/charles-shu/">www.linkedin.com/in/charles-shu/</a></li>
							<li><i class="fa fa-github fa-fw"></i><a href="https://github.com/Sachielsc">github.com/Sachielsc</a></li>
							<li><i class="fa fa-mobile fa-fw"></i>0210701018</li>
							<li><i class="fa fa-envelope-o fa-fw"></i>sachielsc@gmail.com</li>
							<li><i class="fa fa-home fa-fw"></i>6/14 Ambrico Place, Auckland, NZ</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="cv-column">
				<h3>Key Competency</h3>
				<h4>Technical Skills:</h4>
				<ul>
					<li>Front-end development skills with practical experience in Internet-auction website project</li>
					<p>JavaScript, AngularJS, Gulp, Node.js</p>
					<li>Basic but solid knowledge in Back-end development and strong willing to enhance it</li>
					<p>Java, PHP, MySQL</p>
					<li>ISTQB certification. Familiar with automated/manual testing and agile software development</li>
					<p>Selenium</p>
					<li>Practical experience in version control system and agile software development tool</li>
					<p>Git (command line &amp; GUI), JIRA</p>
				</ul>
				<h4>Personal Enthusiasm:</h4>
				<ul>
					<li>Passion, dedication and love in coding field with all my heart. Strong believe and determination to improve fast in every aspect</li>
					<p>Joining the Funtown project with least experience, but becoming the most skilled and earnest junior developer in less than four weeks</p>
					<li>Good teamwork spirit in development project, but also have independency</li>
					<p>Develop my problem shooting ability in making my own personal website “Charles’ Alien World”, a highly modularized design and is being upgraded with my new skills and knowledge every day.</p>
					<li>2 years’ working experience in financial domains to grow interpersonal skills and hard-working spirit</li>
					<li>Good educational background in top universities in both China and England</li>
				</ul>
			</div>
			
			<div class="cv-column">
				<h3>Professional Experience</h3>
				<ul>
					<li>Mar.2017—up to Now: Front-end developer, Internship, Funtown</li>
					<p>Establishing a large on-line shop website in NZ, good practical exercise in Front-end development tools and RESTful architecture</p>
					<li>Jan.2014—Jul.2016: Project Management Specialist, Starway Bio-Technology Co., Ltd, China</li>
					<p>Multiple positions and duties: English translator, Project manager and director’s assistant</p>
				</ul>
			</div>

			<div class="cv-column">
				<h3>Educational Background</h3>
				<ul>
					<li>Sep.2006—Jun.2010: Bachelor of Science, Fudan University, China</li>
					<p>One of the top universities in China, establishing solid foundation of learning habits and scientific thinking methods</p>
					<li>Sep.2010—Jun.2011: Master of Banking Finance, Queen Mary University of London, London</li>
					<p>Graduate with a distinction award, for being the top 10% student in department</p>
				</ul>
			</div>

			<div class="cv-column">
				<h3>Certifications</h3>
				<ul>
					<li>Software testing: ISTQB certificate in foundation software testing (34 out of 40)</li>
					<li>Numerical and analytical ability: GMAT (710 out of 800)</li>
					<li>Written and verbal communication proficiency: IELTS 7.5 (out of 9.0); TOEFL 103 (out of 120)</li>
				</ul>
			</div>

			<div class="cv-column">
				<h3>Referees</h3>
				<p>(Available on request)</p>
			</div>
		</div>
	</div>
</div>