<div class="container cv cv-fullpage">
	<div class="row cv-potrait">
		<div class="col-6">
			<div class="cv-name">
				<h3>Charles SHU</h3>
			</div>
		</div>
		<div class="col-6">
			<div class="cv-contact">
				<ul class="list-unstyled">
					<li><i class="fa fa-linkedin-square fa-fw"></i><a href="https://www.linkedin.com/in/charles-shu/">www.linkedin.com/in/charles-shu/</a></li>
					<li><i class="fa fa-github fa-fw"></i><a href="https://github.com/Sachielsc"></a>github.com/Sachielsc</li>
					<li><i class="fa fa-mobile fa-fw"></i>0210701018</li>
					<li><i class="fa fa-envelope-o fa-fw"></i>sachielsc@gmail.com</li>
					<li><i class="fa fa-home fa-fw"></i>6/14 Ambrico Place, Auckland, NZ</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="cv-column"></div>
	<div class="cv-column"></div>
	<div class="cv-column"></div>
	<div class="cv-column"></div>



</div>