<body>
    <div class="container">
		<div class="intro bg-contactme green-frame">
			<p>Dear colonist,<br>
			<br>You are welcome to get in touch with me.<br>
			Just click on the <span>circles below</span> or click <span>The Secret Icon</span> on the title bar from any page.
			</p>
			<div class="blank-bar"></div>
			<nav class="social-links-wrapper">
				<ul class="social-links">
					<li>
						<a href="https://www.linkedin.com/in/charles-shu/" class="fa fa-linkedin-square fa-fw"></a>
					</li>
					<li>
						<a href="https://github.com/Sachielsc" class="fa fa-github fa-fw"></a>
					</li>
					<li>
						<a href="https://www.facebook.com/chang.shu.184" class="fa fa-facebook fa-fw"></a>
					</li>
					<li>
						<a class="fa fa-envelope fa-fw" data-toggle="collapse" data-target="#emailme"></a>
					</li>
				</ul>				
			</nav>
			<p>More available contact methods will be revealed soon!</p>
			<div class="collapse" id="emailme">
				<div class="separator"></div>			
				<p>Email me at: <span>sachielsc@gmail.com</span></p>
			</div>
		</div>
    </div>
</body>