<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
    </head>

<body>
    <div class="container">
    	<div class="row">
    		<div class="col-3">
    			<div class="card-box button-panel button-panel-about">
    				<button type="button" class="active">State Panel</button><br>
    				<button type="button">Skill Panel</button><br>
    				<button type="button">Work Log</button><br>
    				<button type="button">Contact Me</button>
    			</div>
    		</div>
    		<div class="col-9">
				<div class="intro">
					<p>put intro text here.</p>
				</div>
				<div class="card-box">
					<p>put contect here.</p>
				</div>
    		</div>
    	</div>
    </div>
</body>

</html>