<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
    </head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="sc-mechanical-frame-outer">
                    <div class="sc-mechanical-frame-inner">
                        <div class="button-panel">
                            <a ui-sref="about"><button type="button" class="active">State Panel</button></a><br>
                            <a ui-sref="skillpanel"><button type="button">Skill Panel</button></a><br>
                            <a ui-sref="workreport"><button type="button">Reports</button></a><br>
                            <a ui-sref="cv"><button type="button">CV Page</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-8">
                <div ui-view>

                    <div class="card-box white-frame shadow-expand">
                        <div class="sc-frame-outer portrait">
                            <div class="sc-frame-middle portrait">
                                <div class="sc-frame-inner portrait">
                                    <img src="../../../../assets/images/portrait.jpg" alt="portrait" class="portrait">
                                </div>
                            </div>
                        </div>

                        <div class="auto-font">
                            <h1 class="theme-color text-center">Charles SHU</h1>
                            <h2 class="theme-color text-center">A Developer with <span>unprecedented</span> love &amp; passion in coding!</h2>
                        </div>

                        <p>I'm Charles, a web developer with passion, dedication and love in the coding field. Here is my story:</p>

                        <p><span class="theme-color">Stay Hungry，Stay Foolish.</span><br>
                        When I was back in China, I worked in the financial field with first-class educational background and Global 500 company experience. But sometimes, comfort is not the ultimate goal of life. I like technology, I like creativity, and most of all, I fear no challenging. Therefore I asked to myself: Hey, why not go out and do something you really like?<br> 
                        Coding is like Pandora's box, it is bottomless, mystery and appealing. We have to admit that many have attempted to extract the treasure inside but eventually failed. I, as a young and hungry warrior, spent one year, literally day and night, in picking up all relevant knowledge and skills which would normally take for years. But when I devoted myself into one and another practical projects, I realized that everything we learnt in university is everything and nothing.
                        </p>

                        <p><span class="theme-color">See how crazy I am about coding.</span>

                        I 
                        I might not graduate from any top university in New Zealand, nor spend years of learning coding foundations.

                        <p><span class="theme-color">Feel free to contact me.</span>

                        Currently I am living in Auckland and looking for an opportunity to prove myself.  That is why I come to New Zealand and am trying my best to develop my skills.</p>
                        
                        <p>I like the feeling of concentration and seriousness. When I'm growing as a developer, I think I have found the field in which I am willing to put all my efforts in, as a lifetime career. The achievement of creating something with outstanding functionality and quality really thrills me, thus I made this website using the knowledge from what I have learnt in a very short period of time. It maybe trivial in the sight of senior developers or designers, but I will grow as fast as I can to make it great.</p>

                        <p>You can also find my <a ui-sref="workreport">Work Reports</a> from the internship I took part in. And I also put my <a ui-sref="cv">CV</a> on this website.</p>

                        <p>If you are interested in what I have done and, more importantly, what I will contribute, please click <a ui-sref="contactme">HERE</a> to contact me. Or you can find some more ways to reach me by clicking on the <span>secret icon</span> of the title bar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>