<div class="container cv cv-fullpage">
	<div class="row cv-potrait">
		<div class="col-6">
			<div class="cv-name">
				<h3>Charles SHU</h3>
			</div>
		</div>
		<div class="col-6">
			<div class="cv-contact">
				<ul>
					<li>6/14 Ambrico Place, Auckland, NZ</li>
					<li>0210701018</li>
					<li>sachielsc@gmail.com</li>
					<li>https://www.linkedin.com/in/charles-shu/</li>
					<li>https://github.com/Sachielsc</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="cv-column"></div>
	<div class="cv-column"></div>
	<div class="cv-column"></div>
	<div class="cv-column"></div>



</div>