.aw-header {
  top: 0;
  background: black;
  -webkit-box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.85);
  box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.85);
  height: 160px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  width: 100%;
  z-index: 1002;
  position: fixed; }
  .aw-header .aw-header-content {
    height: 160px;
    width: 100%;
    position: fixed;
    z-index: 1005;
    margin: 0; }
    .aw-header .aw-header-content .menu-icon, .aw-header .aw-header-content .contact-icon {
      margin-left: 0;
      display: block;
      height: 100%;
      opacity: 0.4;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }
      .aw-header .aw-header-content .menu-icon:hover, .aw-header .aw-header-content .contact-icon:hover {
        cursor: pointer;
        opacity: 1;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease; }
    .aw-header .aw-header-content .aw-title .title-pic {
      background: url("../images/titlebar.jpg");
      background-size: 100% 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      -webkit-transition: all 1.3s ease;
      -moz-transition: all 1.3s ease;
      -ms-transition: all 1.3s ease;
      -o-transition: all 1.3s ease;
      transition: all 1.3s ease; }
      .aw-header .aw-header-content .aw-title .title-pic.ng-hide {
        opacity: 0; }
    .aw-header .aw-header-content .aw-title a {
      text-decoration: none;
      color: #97ff77;
      font-size: 300%;
      font-variant: small-caps;
      white-space: nowrap;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1010; }
      .aw-header .aw-header-content .aw-title a:hover {
        color: white;
        -webkit-transition: all 4s ease;
        -moz-transition: all 4s ease;
        -ms-transition: all 4s ease;
        -o-transition: all 4s ease;
        transition: all 4s ease; }

nav.aw-nav, div.aw-contact {
  position: fixed;
  top: 140px;
  width: 100%;
  z-index: 1007;
  -webkit-transition: all 1.3s ease;
  -moz-transition: all 1.3s ease;
  -ms-transition: all 1.3s ease;
  -o-transition: all 1.3s ease;
  transition: all 1.3s ease; }
  nav.aw-nav.ng-hide, div.aw-contact.ng-hide {
    opacity: 0; }
  nav.aw-nav a, div.aw-contact a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #97ff77;
    transition: all 0.8s ease;
    white-space: nowrap;
    text-decoration: none;
    font-variant: small-caps; }
    nav.aw-nav a:hover, div.aw-contact a:hover {
      font-size: 200%;
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      transition: all 0.8s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }

body {
  background-color: #2b333b;
  z-index: 1000; }

.aw-main {
  position: relative;
  top: 190px; }

.intro, .aw-game, .aw-movie, .meeting, .assignment, .card-box {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin: 20px 20px 20px 20px;
  background-color: #323b44;
  outline: none;
  box-sizing: border-box; }

.intro h1, .intro h2, .intro h3, .intro h4, .intro h5, .intro h6, .intro p {
  color: rgba(255, 255, 255, 0.6);
  font-family: Inconsolata;
  letter-spacing: 1px;
  text-transform: uppercase; }

.aw-movie h1, .aw-movie h2, .aw-movie h3, .aw-movie h4, .aw-movie h5, .aw-movie h6, .aw-movie p, .aw-movie li, .aw-movie dt, .aw-movie dd, .aw-game h1, .aw-game h2, .aw-game h3, .aw-game h4, .aw-game h5, .aw-game h6, .aw-game p, .aw-game li, .aw-game dt, .aw-game dd {
  color: #98a6ad; }

.aw-movie a, .aw-game a {
  color: #97ff77; }

.meeting h1, .meeting h2, .meeting h3, .meeting h4, .meeting h5, .meeting h6, .meeting p, .meeting li, .assignment h1, .assignment h2, .assignment h3, .assignment h4, .assignment h5, .assignment h6, .assignment p, .assignment li {
  color: #98a6ad; }

.meeting code, .assignment code {
  color: #5d9cec;
  background-color: rgba(244, 248, 251, 0.1);
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 90%; }

.meeting pre code, .assignment pre code {
  display: block;
  padding: 9.5px;
  margin: 10px 0px 10px 0px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #97ff77;
  word-break: break-all;
  word-wrap: break-word;
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 4px; }

.ratebox {
  display: inline-block;
  padding: 9px;
  margin: 0 3px 0 3px;
  font-size: 16px;
  line-height: 0.5;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px; }
  .ratebox.ratebox-r {
    background-color: #ea8e8e;
    color: #f2dede;
    border: 2px solid #f2dede; }
  .ratebox.ratebox-g {
    background-color: #ea8e8e;
    color: #f2dede;
    border: 2px solid #f2dede; }
  .ratebox.ratebox-pg {
    background-color: #ea8e8e;
    color: #f2dede;
    border: 2px solid #f2dede; }
  .ratebox.ratebox-m {
    background-color: #ea8e8e;
    color: #f2dede;
    border: 2px solid #f2dede; }

.hover-red:hover {
  color: red; }

.hover-yellow:hover {
  color: yellow; }

.hover-purple:hover {
  color: purple; }

.hover-teal:hover {
  color: #014c8c; }

.hover-white:hover {
  color: white; }

.button-panel.button-panel-about button {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 12px;
  margin-left: 8px;
  -moz-border-radius: 2px;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -webkit-border-radius: 2px;
  -webkit-transition: all 400ms ease-in-out;
  background: transparent !important;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  border-width: 2px !important;
  transition: all 400ms ease-in-out;
  background-clip: inherit;
  background-color: #97ff77;
  width: 100px; }
  .button-panel.button-panel-about button.active {
    color: #97ff77; }
