.aw-header {
  background: rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.85);
  box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.85);
  height: 100px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  width: 100%;
  z-index: 1002;
  display: block;
  position: fixed; }
  .aw-header .aw-header-content {
    width: 100%;
    position: absolute;
    z-index: 1005;
    margin: 0;
    color: #97ff77; }
    .aw-header .aw-header-content .menu-button {
      left: 25px;
      margin-left: 0;
      top: 15px;
      width: 30px;
      display: block;
      height: 40px;
      opacity: 1;
      position: relative; }
      .aw-header .aw-header-content .menu-button:hover {
        opacity: 0.3;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
      .aw-header .aw-header-content .menu-button span {
        height: 3px;
        background: #97ff77;
        font-size: 0;
        margin-top: -2px;
        top: 50%;
        position: absolute;
        transition: all 1s ease;
        user-select: none;
        width: 100%; }
        .aw-header .aw-header-content .menu-button span::before {
          background: #97ff77;
          position: absolute;
          transform: translateY(-250%);
          height: 100%;
          width: 100%;
          content: ''; }
        .aw-header .aw-header-content .menu-button span::after {
          background: #97ff77;
          position: absolute;
          transform: translateY(250%);
          height: 100%;
          width: 100%;
          content: ''; }
    .aw-header .aw-header-content .aw-title a {
      text-decoration: none;
      color: #97ff77; }

nav.aw-nav {
  position: fixed;
  top: 100px;
  width: 100%; }

body {
  background-image: url("../images/bgi-light.jpg");
  background-color: #F0F0F0;
  z-index: 1000; }

.ratebox {
  display: inline-block;
  padding: 9px;
  margin: 0 3px 0 3px;
  font-size: 16px;
  line-height: 0.5;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px; }
  .ratebox.ratebox-r {
    background-color: #ea8e8e;
    color: #f2dede;
    border: 2px solid #f2dede; }
  .ratebox.ratebox-g {
    background-color: #ea8e8e;
    color: #f2dede;
    border: 2px solid #f2dede; }
  .ratebox.ratebox-pg {
    background-color: #ea8e8e;
    color: #f2dede;
    border: 2px solid #f2dede; }
  .ratebox.ratebox-m {
    background-color: #ea8e8e;
    color: #f2dede;
    border: 2px solid #f2dede; }
