.aw-header {
  background: black;
  -webkit-box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.85);
  box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.85);
  height: 160px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  width: 100%;
  z-index: 1002;
  display: block;
  position: fixed; }
  .aw-header .aw-header-content {
    height: 160px;
    width: 100%;
    position: fixed;
    z-index: 1005;
    margin: 0; }
    .aw-header .aw-header-content .menu-icon, .aw-header .aw-header-content .contact-icon {
      margin-left: 0;
      display: block;
      height: 100%;
      opacity: 0.4;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }
      .aw-header .aw-header-content .menu-icon:hover, .aw-header .aw-header-content .contact-icon:hover {
        cursor: pointer;
        opacity: 1;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease; }
    .aw-header .aw-header-content .aw-title .title-pic {
      background: url("../images/titlebar.jpg");
      background-size: 100% 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      -webkit-transition: all 1.3s ease;
      -moz-transition: all 1.3s ease;
      -ms-transition: all 1.3s ease;
      -o-transition: all 1.3s ease;
      transition: all 1.3s ease; }
      .aw-header .aw-header-content .aw-title .title-pic.ng-hide {
        opacity: 0; }
    .aw-header .aw-header-content .aw-title a {
      text-decoration: none;
      color: #97ff77;
      font-size: 300%;
      font-variant: small-caps;
      white-space: nowrap;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1010; }
      .aw-header .aw-header-content .aw-title a:hover {
        color: white;
        -webkit-transition: all 4s ease;
        -moz-transition: all 4s ease;
        -ms-transition: all 4s ease;
        -o-transition: all 4s ease;
        transition: all 4s ease; }

nav.aw-nav, div.aw-contact {
  position: fixed;
  top: 140px;
  width: 100%;
  z-index: 1007;
  -webkit-transition: all 1.3s ease;
  -moz-transition: all 1.3s ease;
  -ms-transition: all 1.3s ease;
  -o-transition: all 1.3s ease;
  transition: all 1.3s ease; }
  nav.aw-nav.ng-hide, div.aw-contact.ng-hide {
    opacity: 0; }
  nav.aw-nav a, div.aw-contact a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #97ff77;
    transition: all 0.8s ease;
    white-space: nowrap;
    text-decoration: none;
    font-variant: small-caps; }
    nav.aw-nav a:hover, div.aw-contact a:hover {
      font-size: 200%;
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      transition: all 0.8s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }
    nav.aw-nav a.hover-red:hover, div.aw-contact a.hover-red:hover {
      color: red; }
    nav.aw-nav a.hover-yellow:hover, div.aw-contact a.hover-yellow:hover {
      color: yellow; }
    nav.aw-nav a.hover-purple:hover, div.aw-contact a.hover-purple:hover {
      color: purple; }
    nav.aw-nav a.hover-teal:hover, div.aw-contact a.hover-teal:hover {
      color: #014c8c; }
    nav.aw-nav a.hover-white:hover, div.aw-contact a.hover-white:hover {
      color: white; }

body {
  background-image: url("../images/bgi-dark.jpg");
  background-color: #F0F0F0;
  z-index: 1000; }

.aw-main {
  position: relative;
  top: 190px; }

.meeting pre code, .assignment pre code {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px; }

.ratebox {
  display: inline-block;
  padding: 9px;
  margin: 0 3px 0 3px;
  font-size: 16px;
  line-height: 0.5;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px; }
  .ratebox.ratebox-r {
    background-color: #ea8e8e;
    color: #f2dede;
    border: 2px solid #f2dede; }
  .ratebox.ratebox-g {
    background-color: #ea8e8e;
    color: #f2dede;
    border: 2px solid #f2dede; }
  .ratebox.ratebox-pg {
    background-color: #ea8e8e;
    color: #f2dede;
    border: 2px solid #f2dede; }
  .ratebox.ratebox-m {
    background-color: #ea8e8e;
    color: #f2dede;
    border: 2px solid #f2dede; }
