<!DOCTYPE html>
<html>
    <head>
        <title>Alien Movies</title>
    </head>

<body>
    <div class="container">
    	<div class="aw-movie white-frame shadow-expand">
    		<p>intro text here.</p>
    	</div>
        <div class="aw-movie green-frame">
            <h3>Alien</h3>
            <dl>
            	<dt>Plot</dt>
            	<dd>https://en.wikipedia.org/wiki/Alien_(film)</dd>
            	<dt>Year</dt>
            	<dd>1979</dd>
            	<dt>Starring</dt>
            	<dd>
            		<ul>
            			<li><a href="https://en.wikipedia.org/wiki/Sigourney_Weaver" title="Sigourney Weaver">Sigourney Weaver</a></li>
						<li><a href="https://en.wikipedia.org/wiki/Tom_Skerritt" title="Tom Skerritt">Tom Skerritt</a></li>
						<li><a href="https://en.wikipedia.org/wiki/Veronica_Cartwright" title="Veronica Cartwright">Veronica Cartwright</a></li>
						<li><a href="https://en.wikipedia.org/wiki/Harry_Dean_Stanton" title="Harry Dean Stanton">Harry Dean Stanton</a></li>
						<li><a href="https://en.wikipedia.org/wiki/John_Hurt" title="John Hurt">John Hurt</a></li>
						<li><a href="https://en.wikipedia.org/wiki/Ian_Holm" title="Ian Holm">Ian Holm</a></li>
						<li><a href="https://en.wikipedia.org/wiki/Yaphet_Kotto" title="Yaphet Kotto">Yaphet Kotto</a></li>
					</ul>
				</dd>
            	<dt>Director</dt>
            	<dd><a href="https://en.wikipedia.org/wiki/Ridley_Scott" title="Ridley Scott">Ridley Scott</a></dd>
            </dl>
        </div>

        <div class="aw-movie green-frame">
            <h3>Aliens</h3>
            <dl>
            	<dt>Plot</dt>
            	<dd>https://en.wikipedia.org/wiki/Aliens_(film)</dd>
            	<dt>Year</dt>
            	<dd>1986</dd>
            	<dt>Starring</dt>
            	<dd>
            		<ul>
            			<li><a href="https://en.wikipedia.org/wiki/Sigourney_Weaver" title="Sigourney Weaver">Sigourney Weaver</a> as <a href="https://en.wikipedia.org/wiki/Ellen_Ripley" title="Ellen Ripley">Ellen Ripley</a>:</li>
            			<li><a href="https://en.wikipedia.org/wiki/Michael_Biehn" title="Michael Biehn">Michael Biehn</a> as Corporal Dwayne Hicks:</li>
            			<li><a href="https://en.wikipedia.org/wiki/Paul_Reiser" title="Paul Reiser">Paul Reiser</a> as Carter J. Burke:</li>
            			<li><a href="https://en.wikipedia.org/wiki/Lance_Henriksen" title="Lance Henriksen">Lance Henriksen</a> as Bishop:</li>
            		</ul>
            	</dd>
            	<dt>Director</dt>
            	<dd><a href="https://en.wikipedia.org/wiki/James_Cameron" title="James Cameron">James Cameron</a></dd>
            </dl>
        </div>

        <div class="aw-movie green-frame">
            <h3>ALIEN³</h3>
            <dl>
            	<dt>Plot</dt>
            	<dd>...</dd>
            	<dt>Year</dt>
            	<dd>1992</dd>
            	<dt>Starring</dt>
            	<dd>
            		<ul>
            			<li><a href="https://en.wikipedia.org/wiki/Sigourney_Weaver" title="Sigourney Weaver">Sigourney Weaver</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Charles_Dance" title="Charles Dance">Charles Dance</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Charles_S._Dutton" title="Charles S. Dutton">Charles S. Dutton</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Lance_Henriksen" title="Lance Henriksen">Lance Henriksen</a></li>
            		</ul>
            	</dd>
            	<dt>Director</dt>
            	<dd><a href="https://en.wikipedia.org/wiki/David_Fincher" title="David Fincher">David Fincher</a></dd>
            </dl>
        </div>

        <div class="aw-movie green-frame">
            <h3>Alien: Resurrection</h3>
            <dl>
            	<dt>Plot</dt>
            	<dd>...</dd>
            	<dt>Year</dt>
            	<dd>1997</dd>
            	<dt>Starring</dt>
            	<dd>
            		<ul>
            			<li><a href="https://en.wikipedia.org/wiki/Winona_Ryder" title="Winona Ryder">Winona Ryder</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Ron_Perlman" title="Ron Perlman">Ron Perlman</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Dan_Heyada" class="mw-redirect" title="Dan Heyada">Dan Heyada</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/J._E._Freeman" title="J. E. Freeman">J. E. Freeman</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Brad_Dourif" title="Brad Dourif">Brad Dourif</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Michael_Wincott" title="Michael Wincott">Michael Wincott</a></li>
            		</ul>
            	</dd>
            	<dt>Director</dt>
            	<dd><a href="https://en.wikipedia.org/wiki/Jean-Pierre_Jeunet" title="Jean-Pierre Jeunet">Jean-Pierre Jeunet</a></dd>
            </dl>
        </div>

        <div class="aw-movie green-frame">
            <h3>Alien vs. Predator</h3>
            <dl>
            	<dt>Plot</dt>
            	<dd>https://en.wikipedia.org/wiki/Alien_vs._Predator</dd>
            	<dt>Year</dt>
            	<dd>2004</dd>
            	<dt>Starring</dt>
            	<dd>
            		<ul>
            			<li><a href="https://en.wikipedia.org/wiki/Lance_Henriksen" title="Lance Henriksen">Lance Henriksen</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Sanaa_Lathan" title="Sanaa Lathan">Sanaa Lathan</a></li>
            		</ul>
            	</dd>
            	<dt>Director</dt>
            	<dd><a href="https://en.wikipedia.org/wiki/Paul_W._S._Anderson" title="Paul W. S. Anderson">Paul W. S. Anderson</a></dd>
            </dl>
        </div>

        <div class="aw-movie green-frame">
            <h3>Aliens vs. Predator: Requiem</h3>
            <dl>
            	<dt>Plot</dt>
            	<dd>https://en.wikipedia.org/wiki/Aliens_vs._Predator:_Requiem</dd>
            	<dt>Year</dt>
            	<dd>2007</dd>
            	<dt>Starring</dt>
            	<dd>
            		<ul>
            			<li><a href="https://en.wikipedia.org/wiki/John_Ortiz" title="John Ortiz">John Ortiz</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Reiko_Aylesworth" title="Reiko Aylesworth">Reiko Aylesworth</a></li>
            		</ul>
            	</dd>
            	<dt>Director</dt>
            	<dd><a href="https://en.wikipedia.org/wiki/Brothers_Strause" title="Brothers Strause">The Brothers Strause</a></dd>
            </dl>
        </div>

        <div class="aw-movie green-frame">
            <h3>Prometheus</h3>
            <dl>
            	<dt>Plot</dt>
            	<dd>https://en.wikipedia.org/wiki/Prometheus_(2012_film)</dd>
            	<dt>Year</dt>
            	<dd>2012</dd>
            	<dt>Starring</dt>
            	<dd>
            		<ul>
            			<li><a href="https://en.wikipedia.org/wiki/Noomi_Rapace" title="Noomi Rapace">Noomi Rapace</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Michael_Fassbender" title="Michael Fassbender">Michael Fassbender</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Guy_Pearce" title="Guy Pearce">Guy Pearce</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Idris_Elba" title="Idris Elba">Idris Elba</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Logan_Marshall-Green" title="Logan Marshall-Green">Logan Marshall-Green</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Charlize_Theron" title="Charlize Theron">Charlize Theron</a></li>
            		</ul>
            	</dd>
            	<dt>Director</dt>
            	<dd><a href="https://en.wikipedia.org/wiki/Ridley_Scott" title="Ridley Scott">Ridley Scott</a></dd>
            </dl>
        </div>

        <div class="aw-movie green-frame">
            <h3>Alien: Covenant</h3>
            <dl>
            	<dt>Plot</dt>
            	<dd>https://en.wikipedia.org/wiki/Alien:_Covenant</dd>
            	<dt>Year</dt>
            	<dd>2017</dd>
            	<dt>Starring</dt>
            	<dd>
            		<ul>
            			<li><a href="https://en.wikipedia.org/wiki/Michael_Fassbender" title="Michael Fassbender">Michael Fassbender</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Katherine_Waterston" title="Katherine Waterston">Katherine Waterston</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Billy_Crudup" title="Billy Crudup">Billy Crudup</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Danny_McBride" title="Danny McBride">Danny McBride</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Demi%C3%A1n_Bichir" title="Demián Bichir">Demián Bichir</a></li>
            		</ul>
            	</dd>
            	<dt>Director</dt>
            	<dd><a href="https://en.wikipedia.org/wiki/Ridley_Scott" title="Ridley Scott">Ridley Scott</a></dd>
            </dl>
        </div>

        <footer>
        	<p class="text-right">For this part I plan to use google's API to import movie details. But it is plain text for now.</p>
        </footer>
    </div>
</body>

</html>