<!DOCTYPE html>
<html>
    <head>
        <title>Alien Movies</title>
    </head>

<body>
    <div class="container">
    	<div class="aw-movie white-frame shadow-expand">
    		<p>Dear colonist officer,<br>Welcome to Charles SHU's alien movie collection. You can check the info of every alien movies so far.<br>
            <footer><i>Info source: Wikipedia</i></footer></p>
    	</div>

        <div class="intro bg-normal-1 green-frame">
            <p>New Feature:<br>Alien: Covenant Trailer (From Youtube)</p>
            <div class="sc-frame-outer">
                <div class="sc-frame-middle">
                    <div class="sc-frame-inner">
                        <iframe src="https://www.youtube.com/embed/svnAD0TApb8" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <footer>----31/07/2017</footer>
        </div>

        <div class="intro bg-normal-2 green-frame">
            <p>Alien: Covenant Trailer (From Youtube)</p>
            <div class="sc-frame-outer">
                <div class="sc-frame-middle">
                    <div class="sc-frame-inner">
                        <iframe src="https://www.youtube.com/embed/svnAD0TApb8" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <footer>----31/07/2017</footer>
        </div>

        <div class="intro bg-planet-1 green-frame">
            <p>Alien: Covenant Trailer (From Youtube)</p>
            <div class="sc-frame-outer">
                <div class="sc-frame-middle">
                    <div class="sc-frame-inner">
                        <iframe src="https://www.youtube.com/embed/svnAD0TApb8" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <footer>----28/06/2017</footer>
        </div>

        <div class="aw-movie intro green-frame bg-planet-2">
            <h3>Alien</h3>
            <dl>
            	<dt>Plot</dt>
            	<dd>https://en.wikipedia.org/wiki/Alien_(film)</dd>
            	<dt>Year</dt>
            	<dd>1979</dd>
            	<dt>Starring</dt>
            	<dd>
            		<ul>
            			<li><a href="https://en.wikipedia.org/wiki/Sigourney_Weaver" title="Sigourney Weaver" target="_blank">Sigourney Weaver</a></li>
						<li><a target="_blank" href="https://en.wikipedia.org/wiki/Tom_Skerritt" title="Tom Skerritt">Tom Skerritt</a></li>
						<li><a href="https://en.wikipedia.org/wiki/Veronica_Cartwright" title="Veronica Cartwright" target="_blank">Veronica Cartwright</a></li>
						<li><a href="https://en.wikipedia.org/wiki/Harry_Dean_Stanton" title="Harry Dean Stanton" target="_blank">Harry Dean Stanton</a></li>
						<li><a href="https://en.wikipedia.org/wiki/John_Hurt" title="John Hurt" target="_blank">John Hurt</a></li>
						<li><a href="https://en.wikipedia.org/wiki/Ian_Holm" title="Ian Holm" target="_blank">Ian Holm</a></li>
						<li><a href="https://en.wikipedia.org/wiki/Yaphet_Kotto" title="Yaphet Kotto" target="_blank">Yaphet Kotto</a></li>
					</ul>
				</dd>
            	<dt>Director</dt>
            	<dd><a href="https://en.wikipedia.org/wiki/Ridley_Scott" title="Ridley Scott" target="_blank">Ridley Scott</a></dd>
            </dl>
        </div>

        <div class="aw-movie intro green-frame bg-planet-1">
            <h3>Aliens</h3>
            <dl>
            	<dt>Plot</dt>
            	<dd>https://en.wikipedia.org/wiki/Aliens_(film)</dd>
            	<dt>Year</dt>
            	<dd>1986</dd>
            	<dt>Starring</dt>
            	<dd>
            		<ul>
            			<li><a href="https://en.wikipedia.org/wiki/Sigourney_Weaver" title="Sigourney Weaver" target="_blank">Sigourney Weaver</a> as <a href="https://en.wikipedia.org/wiki/Ellen_Ripley" title="Ellen Ripley">Ellen Ripley</a>:</li>
            			<li><a href="https://en.wikipedia.org/wiki/Michael_Biehn" title="Michael Biehn" target="_blank">Michael Biehn</a> as Corporal Dwayne Hicks:</li>
            			<li><a href="https://en.wikipedia.org/wiki/Paul_Reiser" title="Paul Reiser" target="_blank">Paul Reiser</a> as Carter J. Burke:</li>
            			<li><a href="https://en.wikipedia.org/wiki/Lance_Henriksen" title="Lance Henriksen" target="_blank">Lance Henriksen</a> as Bishop:</li>
            		</ul>
            	</dd>
            	<dt>Director</dt>
            	<dd><a href="https://en.wikipedia.org/wiki/James_Cameron" target="_blank" title="James Cameron">James Cameron</a></dd>
            </dl>
        </div>

        <div class="aw-movie intro green-frame bg-planet-4">
            <h3>ALIEN³</h3>
            <dl>
            	<dt>Plot</dt>
            	<dd>...</dd>
            	<dt>Year</dt>
            	<dd>1992</dd>
            	<dt>Starring</dt>
            	<dd>
            		<ul>
            			<li><a href="https://en.wikipedia.org/wiki/Sigourney_Weaver" title="Sigourney Weaver" target="_blank">Sigourney Weaver</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Charles_Dance" title="Charles Dance" target="_blank">Charles Dance</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Charles_S._Dutton" title="Charles S. Dutton" target="_blank">Charles S. Dutton</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Lance_Henriksen" title="Lance Henriksen" target="_blank">Lance Henriksen</a></li>
            		</ul>
            	</dd>
            	<dt>Director</dt>
            	<dd><a href="https://en.wikipedia.org/wiki/David_Fincher" title="David Fincher" target="_blank">David Fincher</a></dd>
            </dl>
        </div>

        <div class="aw-movie intro green-frame bg-planet-2">
            <h3>Alien: Resurrection</h3>
            <dl>
            	<dt>Plot</dt>
            	<dd>...</dd>
            	<dt>Year</dt>
            	<dd>1997</dd>
            	<dt>Starring</dt>
            	<dd>
            		<ul>
            			<li><a href="https://en.wikipedia.org/wiki/Winona_Ryder" title="Winona Ryder" target="_blank">Winona Ryder</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Ron_Perlman" title="Ron Perlman" target="_blank">Ron Perlman</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Dan_Heyada" target="_blank" class="mw-redirect" title="Dan Heyada">Dan Heyada</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/J._E._Freeman" title="J. E. Freeman" target="_blank">J. E. Freeman</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Brad_Dourif" title="Brad Dourif" target="_blank">Brad Dourif</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Michael_Wincott" title="Michael Wincott" target="_blank">Michael Wincott</a></li>
            		</ul>
            	</dd>
            	<dt>Director</dt>
            	<dd><a href="https://en.wikipedia.org/wiki/Jean-Pierre_Jeunet" title="Jean-Pierre Jeunet" target="_blank">Jean-Pierre Jeunet</a></dd>
            </dl>
        </div>

        <div class="aw-movie intro green-frame bg-planet-1">
            <h3>Alien vs. Predator</h3>
            <dl>
            	<dt>Plot</dt>
            	<dd>https://en.wikipedia.org/wiki/Alien_vs._Predator</dd>
            	<dt>Year</dt>
            	<dd>2004</dd>
            	<dt>Starring</dt>
            	<dd>
            		<ul>
            			<li><a href="https://en.wikipedia.org/wiki/Lance_Henriksen" title="Lance Henriksen" target="_blank">Lance Henriksen</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Sanaa_Lathan" title="Sanaa Lathan" target="_blank">Sanaa Lathan</a></li>
            		</ul>
            	</dd>
            	<dt>Director</dt>
            	<dd><a href="https://en.wikipedia.org/wiki/Paul_W._S._Anderson" title="Paul W. S. Anderson" target="_blank">Paul W. S. Anderson</a></dd>
            </dl>
        </div>

        <div class="aw-movie intro green-frame bg-planet-4">
            <h3>Aliens vs. Predator: Requiem</h3>
            <dl>
            	<dt>Plot</dt>
            	<dd>https://en.wikipedia.org/wiki/Aliens_vs._Predator:_Requiem</dd>
            	<dt>Year</dt>
            	<dd>2007</dd>
            	<dt>Starring</dt>
            	<dd>
            		<ul>
            			<li><a href="https://en.wikipedia.org/wiki/John_Ortiz" title="John Ortiz" target="_blank">John Ortiz</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Reiko_Aylesworth" title="Reiko Aylesworth" target="_blank">Reiko Aylesworth</a></li>
            		</ul>
            	</dd>
            	<dt>Director</dt>
            	<dd><a href="https://en.wikipedia.org/wiki/Brothers_Strause" title="Brothers Strause" target="_blank">The Brothers Strause</a></dd>
            </dl>
        </div>

        <div class="aw-movie intro green-frame bg-planet-2">
            <h3>Prometheus</h3>
            <dl>
            	<dt>Plot</dt>
            	<dd>https://en.wikipedia.org/wiki/Prometheus_(2012_film)</dd>
            	<dt>Year</dt>
            	<dd>2012</dd>
            	<dt>Starring</dt>
            	<dd>
            		<ul>
            			<li><a href="https://en.wikipedia.org/wiki/Noomi_Rapace" title="Noomi Rapace" target="_blank">Noomi Rapace</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Michael_Fassbender" title="Michael Fassbender" target="_blank">Michael Fassbender</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Guy_Pearce" title="Guy Pearce" target="_blank">Guy Pearce</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Idris_Elba" title="Idris Elba" target="_blank">Idris Elba</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Logan_Marshall-Green" title="Logan Marshall-Green" target="_blank">Logan Marshall-Green</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Charlize_Theron" title="Charlize Theron" target="_blank">Charlize Theron</a></li>
            		</ul>
            	</dd>
            	<dt>Director</dt>
            	<dd><a href="https://en.wikipedia.org/wiki/Ridley_Scott" title="Ridley Scott" target="_blank">Ridley Scott</a></dd>
            </dl>
        </div>

        <div class="aw-movie intro green-frame bg-planet-1">
            <h3>Alien: Covenant</h3>
            <dl>
            	<dt>Plot</dt>
            	<dd>https://en.wikipedia.org/wiki/Alien:_Covenant</dd>
            	<dt>Year</dt>
            	<dd>2017</dd>
            	<dt>Starring</dt>
            	<dd>
            		<ul>
            			<li><a href="https://en.wikipedia.org/wiki/Michael_Fassbender" title="Michael Fassbender" target="_blank">Michael Fassbender</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Katherine_Waterston" title="Katherine Waterston" target="_blank">Katherine Waterston</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Billy_Crudup" title="Billy Crudup" target="_blank">Billy Crudup</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Danny_McBride" title="Danny McBride" target="_blank">Danny McBride</a></li>
            			<li><a href="https://en.wikipedia.org/wiki/Demi%C3%A1n_Bichir" title="Demián Bichir" target="_blank">Demián Bichir</a></li>
            		</ul>
            	</dd>
            	<dt>Director</dt>
            	<dd><a href="https://en.wikipedia.org/wiki/Ridley_Scott" title="Ridley Scott" target="_blank">Ridley Scott</a></dd>
            </dl>
        </div>

        <footer>
        	<p class="text-right">For this part I plan to use google's API to import movie details. But it is plain text for now.</p>
        </footer>
    </div>
</body>

</html>