<!DOCTYPE html>
<html>
    <head>
        <title>Alien Movies</title>
        <link rel="stylesheet" type="text/css" href="../../../../assets/lib/bootstrap/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.css">
    </head>

<body>
    <div class="container">
        <div class="aw-movie">
            <h3>Alien</h3>
            <h4>Description</h4>
            <ul type="square">
                <li>项目环境安装参照Gitlab上的funtown-wiki</li>
                <li>后台主要使用Spring Tool Suite™</li>
            </ul>
            <h4>About API</h4>
            <p>API: Application programming interface: a set of subroutine definitions, protocols, and tools for building application software. In general terms, it is a set of clearly defined methods of communication between various software components. A good API makes it easier to develop a computer program by providing all the building blocks, which are then put together by the programmer. An API may be for a web-based system, operating system, database system, computer hardware or software library. An API specification can take many forms, but often includes specifications for routines, data structures, object classes, variables or remote calls. POSIX, Microsoft Windows API, the C++ Standard Template Library and Java APIs are examples of different forms of APIs. Documentation for the API is usually provided to facilitate usage.</p>
            <h4>About our project: Funtown</h4>
            <p>Main objective: to become a large on-line shop in NZ<br>
Like mightyape (<i>https://www.mightyape.co.nz/</i>)</p>
            <h4>The design of our website:</h4>
            <ul type="square">
                <li>加入对产品的comments</li>
                <li>加入论坛功能链接到产品网页</li>
                <li>加入一个挂买家想要商品的功能</li>
                <li>Important: advanced tutorial website: MDN</li>
            </ul>
        </div>
    </div>
</body>

</html>