// 1. The title bar

$aw-header-height: 160px;
$aw-vedio-width: 640px;
$aw-vedio-height: 360px;
$aw-buttonpanel-height: 230px;
$aw-buttonpanel-width: 220px;
$mobile-device: 480px;
$medium-device: 960px;


.aw-header {
	top: 0;
	background: rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.85);
	-moz-box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.85);
	box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.85);
	height: $aw-header-height;
	width: 100%;
	z-index: 1003;
	position: fixed;

	.aw-header-content {
		height: $aw-header-height;
		width: 100%;
		position: fixed;
		z-index: 1005;
		margin: 0;

		.menu-icon, .contact-icon {
			margin-left: 0;
			display: block;
			height: 100%;
			opacity: 0.4;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			&:hover {
				cursor:pointer;
				opacity: 1;
				-webkit-transition: all 1s ease;
				   -moz-transition: all 1s ease;
				    -ms-transition: all 1s ease;
					 -o-transition: all 1s ease;
						transition: all 1s ease;
			}
		}

		.aw-title {
			.title-pic {
				background: url("../images/titlebar.jpg");
				background-size: 100% 100%;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				position: absolute;
				-webkit-transition: all 1.3s ease;
				   -moz-transition: all 1.3s ease;
				   	-ms-transition: all 1.3s ease;
					 -o-transition: all 1.3s ease;
						transition: all 1.3s ease;
				&.ng-hide {
					opacity: 0;
				}
			}

			a {
				text-decoration: none;
				color: #97ff77;
				font-variant: small-caps;
				white-space: nowrap;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				z-index: 1010;
				font-size: 130%;
				&:hover {
					color: white;
				}

	            @media screen and (min-width: $mobile-device) {
	                font-size: 140%;
	                -webkit-transition: all 1.5s ease;
	                   -moz-transition: all 1.5s ease;
	                    -ms-transition: all 1.5s ease;
	                     -o-transition: all 1.5s ease;
	                        transition: all 1.5s ease;  
	            }

	            @media screen and (min-width: $medium-device) {
	                font-size: 300%;
	                -webkit-transition: all 1.5s ease;
	                   -moz-transition: all 1.5s ease;
	                    -ms-transition: all 1.5s ease;
	                     -o-transition: all 1.5s ease;
	                        transition: all 1.5s ease;  
	            }


			}
		}
	}
}

// 2. The navigation menu

nav.aw-nav, div.aw-contact {
	position: fixed;
	top: $aw-header-height - 20px;
	width: 100%;
	z-index: 1007;
	-webkit-transition: all 1.3s ease;
	   -moz-transition: all 1.3s ease;
	   	-ms-transition: all 1.3s ease;
		 -o-transition: all 1.3s ease;
			transition: all 1.3s ease;
	&.ng-hide {
		opacity: 0;
	}

	a {
		position:absolute;
		left:50%;
		transform: translateX(-50%);
		color: #97ff77;
		transition: all 0.8s ease;
		white-space: nowrap;
		text-decoration: none;
		font-variant: small-caps;
		&:hover {
			font-size: 200%;
			-webkit-transition: all 0.8s ease;
			   -moz-transition: all 0.8s ease;
			    -ms-transition: all 0.8s ease;
				 -o-transition: all 0.8s ease;
					transition: all 0.8s ease;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}
}

// 3. The body

body {
	color: #98a6ad;
	background-color: #2b333b;
	z-index: 900;
}

.aw-main {
	position: relative;
	top: $aw-header-height + 30px;
}

.intro, .aw-game, .aw-movie, .meeting, .aw-community, .assignment, .card-box {
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.07);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin: 20px 10px 20px 10px;
    background-color: #323b44;
	outline: none;
	box-sizing: border-box;

	span {
    	color: #5bc0de;
	}
}

.intro {
	position: relative;
	-webkit-transition: all 0.7s ease;
	   -moz-transition: all 0.7s ease;
	    -ms-transition: all 0.7s ease;
		 -o-transition: all 0.7s ease;
			transition: all 0.7s ease;
	background-size: 100% 100%;
	padding: 15px 15px 15px 15px;
	filter: grayscale(100%);
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
    -webkit-tap-highlight-color: transparent;

	&:hover {
		filter: grayscale(0%);
	}

	p {
		margin-top: 1rem;
    	margin-bottom: 1rem;
	}

	a {
		color: #97ff77;
	}

	footer {
		text-align: right;
	}

	h1, h2, h3, h4, h5, h6, p, footer {
    color: rgba(255, 255, 255, 0.6);
    font-family: Inconsolata;
    letter-spacing: 1px;
	text-transform: uppercase;
	}

	&.bg-lab {
		span { 
			color: #5bc0de;
		}
	}
	
}

.bg-lab {
	background: url("../images/box-background-small-2.jpg");
	background-size: 100% 100%;
}

.bg-planet-1 {
	background: url("../images/box-background-planet-1.jpg");
	background-size: 100% 100%;
}

.bg-planet-2 {
	background: url("../images/box-background-planet-2.jpg");
	background-size: 100% 100%;
}

.bg-planet-3 {
	background: url("../images/box-background-planet-3.jpg");
	background-size: 100% 100%;
}

.bg-planet-4 {
	background: url("../images/box-background-planet-4.jpg");
	background-size: 100% 100%;
}

.bg-normal-1 {
	background: url("../images/box-background-normal-1.jpg");
	background-size: 100% 100%;
}

.bg-normal-2 {
	background: url("../images/box-background-normal-2.jpg");
	background-size: 100% 100%;
}

.bg-contactme {
	background: url("../images/box-background-normal-3.jpg");
	background-size: 100%;
}

.card-box {
	a {
		color: #97ff77;
	}

	p {
		color: rgba(255, 255, 255, 0.6);
	}

	&.forum-list {
		background: url(../images/box-background-small-2.jpg);
	    background-size: 100%;
	}

	&.report-list, &.forum-list {
		color: #98a6ad;

		a {
			color: #0275d8;
			-webkit-transition: all 1s ease;
			   -moz-transition: all 1s ease;
			    -ms-transition: all 1s ease;
				 -o-transition: all 1s ease;
					transition: all 1s ease;

			&:hover {
				color: #97ff77;
				cursor:pointer;
			}

			&::before {
				margin-right: 7px;
			}
		}

		li {
		list-style-type: disc;			
		}
	}
}

.aw-movie, .aw-game, .aw-community {
	h1, h2, h3, h4, h5, h6, p, li, dt, dd {
		color: #98a6ad;
	}

	a {
		color: #97ff77;
	}

	footer {
		text-align: right;
    	color: rgba(255, 255, 255, 0.6);
	}
}

.meeting, .assignment, .card-box {
	a {
		color: #97ff77;
	}
	
	code {
		color: #5d9cec;
		background-color: rgba(244, 248, 251, 0.1);
		border-radius: 4px;
		padding: 2px 4px;
    	font-size: 90%;
	}

	pre {
		color: #eeffcc;
	}

	pre code {
		display: block;
	    padding: 9.5px;
	    margin: 3px 0px 3px 0px;
	    font-size: 13px;
	    line-height: 1.42857143;
	    color: #97ff77;
	    background-color: black;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    white-space: pre-wrap;
	}
}

.social-links-wrapper {
	margin: 30px 0;
	display: block;
	text-align: center;

	.social-links {
		list-style: none;
		border: 0;
	    font-family: inherit;
	    font-size: 100%;
	    font-style: inherit;
	    font-weight: inherit;
	    margin: 0;
	    outline: 0;
	    padding: 0;
	    vertical-align: baseline;
	    display: block;
	    -webkit-margin-before: 1em;
	    -webkit-margin-after: 1em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    -webkit-padding-start: 40px;
	    text-align: center;

	    li {
	    	display: inline-block;
	    	margin: 5px;
	    	border: 0;
	    	vertical-align: baseline;

	    	a {
				border: 1px solid #AAA;
				color: #97ff77;
				font-size: 36px;
				line-height: 173px;
				-webkit-border-radius: 50%;
			    -moz-border-radius: 50%;
			    border-radius: 50%;
		        -webkit-box-shadow: 2px 2px 4px 0 rgba(180, 180, 180, 0.5);
		        -moz-box-shadow: 2px 2px 4px 0 rgba(180, 180, 180, 0.5);
			    box-shadow: 2px 2px 4px 0 rgba(180, 180, 180, 0.5);
			    display: block;
			    height: 70px;
			    overflow: hidden;
			    text-decoration: none;
			    -webkit-transition: line-height 0.5s, color 1.5s, background 1s;
			    -moz-transition: line-height 0.5s, color 1.5s background 1s;
			    -o-transition: line-height 0.5s, color 1.5s background 1s;
			    transition: line-height 0.5s, color 1.5s background 1s;
    			width: 70px;
    			margin: 0;
			    outline: 0;
			    padding: 0;

			    &:hover {
			    	color: white;
			    	line-height: 72px;
			    	background: #5bc0de;

			    }
	    	}
	    }


	}
}



// 4. The CV Page and cover letter page
.cv-page {
	.cv-fullpage {
		margin: 0 9px 0 9px;
		.cv-wrapper {
			background: none;
			filter: none;
		    -webkit-tap-highlight-color: transparent;
				-webkit-transition: all 1s ease;
				   -moz-transition: all 1s ease;
				    -ms-transition: all 1s ease;
					 -o-transition: all 1s ease;
						transition: all 1s ease;
		&:hover {
			filter: none;
			}
		}
    }
}


.cv-fullpage {
	margin: 0px 20px 20px 20px;

	.cv-wrapper {
		background: url("../images/box-background-small.jpg");
		background-size: 100% 100%;
		filter: grayscale(100%);
		padding: 30px 30px 30px 30px;
	    -webkit-font-smoothing: antialiased;
	    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
	    -webkit-tap-highlight-color: transparent;
			-webkit-transition: all 4s ease;
			   -moz-transition: all 4s ease;
			    -ms-transition: all 4s ease;
				 -o-transition: all 4s ease;
					transition: all 4s ease;

	&:hover {
		filter: grayscale(55%);
		}
	}

	.coverletter-wrapper {
		padding: 45px 35px 35px 45px;
	    -webkit-font-smoothing: antialiased;
	    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
		background: url("../images/box-background-small.jpg");
		background-size: 100% 100%; 
	}

	a {
		color: inherit;
	}

	h1, h2, h3, h4, h5, h6, p, li {
		color: #98a6ad;
	}

	.list-unstyled {
		i {
			margin-right: 4px;
		}
	}

	.cv-column {
		h3 {
			font-variant: small-caps;
		}

		p {
			display: inline;
		}
	}

	.cv-name {
		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			color: #98a6ad;
		}
	}
}

.cv-pic {
	opacity: 0.7;
}

.coverletter-content {
	line-height: 43px;
}




// 5. Frames

.standard {
	height: $aw-vedio-height;
	width: $aw-vedio-width;
}

.portrait {
	height: 400px;
	width: 300px;
}

.project-pic {
	&.sc-frame-outer {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	height: 200px;
	width: 300px;
}

.coverletter-pic {
	&.sc-frame-outer {
		margin: 0px 0px 38px 0px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	height: 192px;
	width: 308px;
}

.sc-frame-outer {
    margin: 0px auto;
}

.sc-frame-middle {
	position: relative;
	&::before, {
		content: '';
	    display: block;
	    margin: -18px -14px;
	    width: 114px;
	    height: 116px;
	    background: url("../images/frame-corner-top-left.png");
	    position: absolute;
	    top: 0;
	    z-index: 1000;
		}
	&::after {
		content: '';
	    display: block;
	    margin: -18px -14px;
	    width: 114px;
	    height: 116px;
	    background: url("../images/frame-corner-top-left.png");
	    position: absolute;
	    bottom: 0;
	    z-index: 1000;
		right: 0;
	    -webkit-transform: scale(-1, -1);
	    -ms-transform: scale(-1, -1);
	    transform: scale(-1, -1);
	}
}

.sc-frame-inner {
	position: relative;
	&::before, {
		content: '';
	    display: block;
	    margin: -18px -14px;
	    width: 114px;
	    height: 116px;
	    background: url("../images/frame-corner-top-left.png");
	    position: absolute;
	    right: 0;
	    z-index: 1000;
	    -webkit-transform: scale(-1, 1);
	    -ms-transform: scale(-1, 1);
	    transform: scale(-1, 1);
		}
	&::after {
		content: '';
	    display: block;
	    margin: -18px -14px;
	    width: 114px;
	    height: 116px;
	    background: url("../images/frame-corner-top-left.png");
	    position: absolute;
	    bottom: 0;
	    z-index: 1000;
	    -webkit-transform: scale(1, -1);
	    -ms-transform: scale(1, -1);
	    transform: scale(1, -1);
	}

	img {
		border-radius: 15px;
		border: 1px solid rgba(255, 255, 255, 0.4);
	}

	iframe {
	position: absolute;
	z-index: 1006;
	border-radius: 15px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	}
}

.sc-mechanical-frame-outer {
	width: $aw-buttonpanel-width + 2px;
    height: $aw-buttonpanel-height + 2px;
    margin: 30px auto;
    border-radius: 4px;
	border: 1px solid red;

	.sc-mechanical-frame-inner {
		position: absolute;
		width: $aw-buttonpanel-width;
	    height: $aw-buttonpanel-height;
			&::before, &::after {
				content: '';
				position: absolute;
			    width: 120px;
			    height: 272px;
				background: url("../images/sc-mechanical-frame-left.png");
				background-size: 100% 100%;
				z-index: 1000;
			}

			&::before {
				left: -13px; 
			    top: -21px; 
			}

			&::after {
				right: -13px; 
			    bottom: -21px; 
				transform: scale(-1, 1);
			}
	}
}

.green-frame {
	border-radius: 6px;
	border: 1px solid #98a6ad;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
		 -o-transition: all 1s ease;
			transition: all 1s ease;

	&:hover {
		border: 1px solid rgba(0, 204, 0, 0.5);
		box-shadow: 0 0 20px rgba(0, 204, 0, 0.5), inset 0 0 0 1px #000, inset 0 0 0 2px rgba(0, 204, 0, 0.5);
	}
}

.green-frame.coverletter-wrapper {
	border-radius: 6px;
	border: 1px solid rgba(0, 204, 0, 0.5);
	box-shadow: 0 0 20px rgba(0, 204, 0, 0.5), inset 0 0 0 1px #000, inset 0 0 0 2px rgba(0, 204, 0, 0.5);
}

.white-frame {
	border-radius: 6px;
	border: 1px solid #98a6ad;

	&.shadow-expand {
		-webkit-transition: all 1s ease;
		   -moz-transition: all 1s ease;
		    -ms-transition: all 1s ease;
			 -o-transition: all 1s ease;
				transition: all 1s ease;

		&:hover {
			box-shadow: 0 0 20px #98a6ad, inset 0 0 0 1px #000, inset 0 0 0 2px #98a6ad;
		}
	}
}

// 6. Preloader

#preloader {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: #2b333b url("../images/CharlesAppinitializing.gif") no-repeat center center;
	background-size: 40%;
	z-index: 2000;
}

// 7. Misc
.separator {
	margin: 30px 0;
	width: 100%;
	border: 1px solid rgba(0, 204, 0, 0.6);
	opacity: 0.4;
    box-shadow: 0 0 20px rgba(0, 204, 0, 0.5), inset 0 0 0 1px #000, inset 0 0 0 2px rgba(0, 204, 0, 0.5);
}

.ratebox {
	display: inline-block;
	padding: 9px;
	margin: 0 3px 0 3px;
	font-size: 16px;
	line-height: 0.5;
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;

	&.ratebox-r {
		background-color: #ea8e8e;
		color: #f2dede;
		border: 2px solid #f2dede;
	}

	&.ratebox-g {
		background-color: #ea8e8e;
		color: #f2dede;
		border: 2px solid #f2dede;
	}

	&.ratebox-pg {
		background-color: #ea8e8e;
		color: #f2dede;
		border: 2px solid #f2dede;
	}

	&.ratebox-m {
		background-color: #ea8e8e;
		color: #f2dede;
		border: 2px solid #f2dede;
	}
}

.hover-red {
	&:hover {
		color: red;
	}
}
.hover-yellow {
	&:hover {
		color: yellow;
	}
}
.hover-purple {
	&:hover {
		color: purple;
	}
}
.hover-teal {
	&:hover {
		color: #014c8c;
	}
}
.hover-white {
	&:hover {
		color: white;
	}
}

.button-panel {
	position: absolute;
	height: $aw-buttonpanel-height;
	width: $aw-buttonpanel-width;
	margin: 0;

	button {
		color: rgba(255, 255, 255, 0.6);
		margin-top: 22px;
		margin-bottom: 0px;
	    -moz-border-radius: 2px;
	    -moz-transition: all 400ms ease-in-out;
	    -o-transition: all 400ms ease-in-out;
	    -webkit-border-radius: 2px;
	    -webkit-transition: all 400ms ease-in-out;
	    background: transparent !important;
	    -webkit-border-radius: 5px;
	    border-radius: 5px;
	    -moz-border-radius: 5px;
	    background-clip: padding-box;
	    border-width: 2px !important;
	    transition: all 400ms ease-in-out;
	    background-clip: inherit;
	    background-color: #97ff77;
	    width: 115px;
	    position: relative;
	    left: 50%;
	    transform: translateX(-50%);
	    z-index: 1002;

	    &.active {
	    	color: #97ff77;
	    }
	}
}

.skill-bar-list {
	.skill-bar {

		margin-bottom: 18px;

		a {
			color: #5bc0de;
			-webkit-transition: all 1s ease;
			   -moz-transition: all 1s ease;
			    -ms-transition: all 1s ease;
				 -o-transition: all 1s ease;
					transition: all 1s ease;

			&:hover {
				color: #97ff77;
				cursor:pointer;
			}
		}

		p {
			-webkit-transition: all 1s ease;
			   -moz-transition: all 1s ease;
			    -ms-transition: all 1s ease;
				 -o-transition: all 1s ease;
					transition: all 1s ease;
			margin-bottom: 0;

			&:hover {
				color: #97ff77;
			}
		}

		.collapse {
			width: 95%;
			left: 5%;
			position: relative;
		}

		.aw-progress-barbackground {
			border-radius: 5px;
			height: 10px;
    		background-color: #98a6ad;
		    -webkit-background-size: 40px 40px;
		    text-align: center;
        	transition: width .6s ease;
			margin-bottom: 8px;

			.aw-progress-bar {
				border-radius: inherit;
				height: inherit;
			    -webkit-animation: progress-bar-stripes 2s linear infinite;
			    -o-animation: progress-bar-stripes 2s linear infinite;
			    animation: progress-bar-stripes 2s linear infinite;
			    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
			    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
			    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
			    -webkit-background-size: 40px 40px;
	        	transition: width .6s ease;

				&.aw-progress-bar-egg {
					width: 15%;
					background-color: #97ff77;
				}

				&.aw-progress-bar-facehugger {
					width: 30%;
					background-color: #fb6d9d;
				}

				&.aw-progress-bar-chestburster {
					width: 50%;
					background-color: #34d3eb;
				}

				&.aw-progress-bar-xenomorph {
					width: 70%;
					background-color: #5d9cec;
				}

				&.aw-progress-bar-queen {
					width: 90%;
					background-color: #7266ba;
				}
	        }
      	}		
	}
}

.theme-color {
	color: #97ff77;
}

.blank-bar {
	height: 150px;
}

.hidethis {
	display:none;
	// visibility:hidden; (not as good as display:none)
}