<body>
    <div class="container">
		<div class="intro bg-lab green-frame">
			<p>Dear colonist,<br>
			<br>Welcome to the planet LV 426.<br>Here you can find classified information about <a ui-sref="movies">Alien Movies</a> and <a ui-sref="games">Alien Games</a>.<br>You can also find author's <a ui-sref="skillpanel">skill tree</a> and <a ui-sref="workreport">work reports</a>.<br>
			<br>Click <span>"The Egg"</span> on the title bar to <span>display / hide</span> the navigation menu.<br>
			To contact the author, click <a ui-sref="contactme">HERE</a> or click <span>"The Secret Icon"</span> on the title bar.
			</p>
			<div class="separator"></div>
			<p>Today's New Feature:</p>
			<p>The module <span>Community</span> is going to have a new column: <span>Charle's project exhibition</span>!<br>
			This column demonstrates every project Charles has done in his leisure time. Click <a ui-sref="community">HERE</a> to have a look.</p>
			<br>
			<p>Also, two <span>PROLOGUEs</span> are added into the movie archieve, click <a ui-sref="movies">HERE</a> to have a look.</p>
			<footer>----{{currentdate.date}}</footer>
		</div>

		<div class="intro bg-planet-1 green-frame">
			<p>New Feature:<br>Alien: Covenant Trailer (From Youtube)</p>
			<div class="sc-frame-outer standard">
				<div class="sc-frame-middle standard">
					<div class="sc-frame-inner standard">
						<iframe class="standard" src="https://www.youtube.com/embed/svnAD0TApb8" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<footer>----28/06/2017</footer>
		</div>

		<div class="intro bg-normal-1 green-frame">
			<p>New Feature:<br>Charles' <span>newest CV</span> is complete! (Edition: 6.27beta)</p>
			<div class="sc-frame-outer standard">
				<div class="sc-frame-middle standard">
					<div class="sc-frame-inner standard">
						<a ui-sref="cvfull" title="to Charles' CV"><img class="cv-pic standard" src="../../../../assets/images/cv.jpg"></a>
					</div>
				</div>
			</div>
			<footer>----27/06/2017</footer>
		</div>

		<div class="intro bg-normal-2 green-frame">
			<p>New Feature:<br>Alien Isolation ---- <span>The best Alien game EVER!</span></p>
			<div class="sc-frame-outer standard">
				<div class="sc-frame-middle standard">
					<div class="sc-frame-inner standard">
						<a href="http://www.alienisolation.com/age-gate" target="_blank" title="to the game website"><img src="../../../../assets/images/alien-isolation.jpg" class="standard"></a>
					</div>
				</div>
			</div>
			<footer>----20/06/2017</footer>
		</div>
    </div>
</body>