<body>
    <div class="container">
		<div class="intro intro-greetings green-frame">
			<p>Dear colonist,<br>
			<br>Welcome to the planet LV 426.<br>Here you can find classified information about <a ui-sref="movies">Alien Movies</a> and <a ui-sref="games">Alien Games</a>.<br>To explore more about this planet, click "The Egg" on the title bar.<br>To contact the author, click <a ui-sref="contactme">HERE</a> or click "The Secret Icon" on the title bar.
			</p>
			<div class="separator"></div>
			<p>New Feature:<br>No new features today!</p>
			<p>----{{currentdate.date}}</p>
			<div class="separator"></div>
			<p>New Feature:<br>Alien: Covenant Trailer!</p>
			<p>----28/06/2017</p>



		</div>
    </div>
</body>