</!DOCTYPE html>
<html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>

<head>
	<title></title>
</head>

<body>

<script type="text/javascript">
	var app=angular.module("myShoppingList",[]);
	app.controller("myCtrl", function($scope){
		$scope.items=["bread", "beer", "meat", "vege", "milk", "honey"];
		$scope.addItem=function(){
				$scope.items.push($scope.addMe)
		};
		}
	);
</script>

<div ng-app="myShoppingList" ng-controller="myCtrl">
	<ul>
		<li ng-repeat="f in items">{{f}}</li>
	</ul>
	<div class="controlPanel">
		<input type="text" name="additems" ng-model="addMe">
		<button ng-click="addItem()">add a dish here</button>
	</div>
</div>


</body>


</html>

