<!DOCTYPE html>
<html>
<head>
    <title>Alien Games</title>
</head>

<body>
<div class="container">
    <div class="aw-game white-frame shadow-expand">
        <p>Dear colonist officer,<br>Welcome to Charles SHU's alien game collection. You can check the info of some
            classic alien games.<br>
            <footer><i>Info source: Wikipedia</i></footer>
        </p>
    </div>

    <div class="aw-game green-frame bg-planet-4">
        <h3>Alien: Isolation</h3>
        <dl>
            <dt>Developer(s)</dt>
            <dd><a href="https://en.wikipedia.org/wiki/Creative_Assembly" target="_blank" title="Creative Assembly">Creative
                Assembly</a></dd>
            <dt>Publisher(s)</dt>
            <dd><a href="/wiki/Sega" title="Sega">Sega</a></dd>
            <dt>Release</dt>
            <dd>7 October 2014</dd>
            <dt>Platform(s)</dt>
            <dd>Microsoft Windows, PlayStation 4, PlayStation 3, Xbox One, Xbox 360, Linux, OS X</dd>
            <dt>Genre(s)</dt>
            <dd>Survival horror, stealth, action-adventure</dd>
            <dt>plot</dt>
            <dd>https://en.wikipedia.org/wiki/Alien:_Isolation</dd>
        </dl>
    </div>

    <div class="aw-game green-frame bg-planet-2">
        <h3>Alien 3</h3>
        <dl>
            <dt>Developer(s)</dt>
            <dd><a href="/wiki/Acclaim_Cheltenham" target="_blank" class="mw-redirect" title="Acclaim Cheltenham">Probe
                Entertainment</a></dd>
            <dt>Publisher(s)</dt>
            <dd><a href="/wiki/LJN" title="LJN">LJN</a></dd>
            <dt>Release</dt>
            <dd>
                <ul>
                    <li>NA: May 1993</li>
                    <li>JP: July 9, 1993</li>
                    <li>EU: October 28, 1993</li>
                </ul>
            </dd>
            <dt>Platform(s)</dt>
            <dd>Super Nintendo Entertainment System</dd>
        </dl>
    </div>

    <div class="aw-game green-frame bg-planet-1">
        <h3>Alien vs. Predator</h3>
        <dl>
            <dt>Developer(s)</dt>
            <dd><a href="/wiki/Capcom" target="_blank" title="Capcom">Capcom</a></dd>
            <dt>Publisher(s)</dt>
            <dd><a href="/wiki/Capcom" target="_blank" title="Capcom">Capcom</a></dd>
            <dt>Release</dt>
            <dd>NA / JP / EU / AS: May 20, 1994</dd>
            <dt>Platform(s)</dt>
            <dd>Arcade</dd>
        </dl>
    </div>

    <div class="aw-game green-frame bg-planet-4">
        <h3>Aliens vs. Predator</h3>
        <dl>
            <dt>Developer(s)</dt>
            <dd><a href="/wiki/Rebellion_Developments" target="_blank" title="Rebellion Developments">Rebellion
                Developments</a></dd>
            <dt>Publisher(s)</dt>
            <dd><a href="/wiki/Sega" target="_blank" title="Sega">Sega</a></dd>
            <dt>Release</dt>
            <dd>2010</dd>
            <dt>Platform(s)</dt>
            <dd>PC, PlayStation 3, Xbox 360</dd>
            <dt>plot</dt>
            <dd>https://en.wikipedia.org/wiki/Aliens_vs._Predator_(2010_video_game)</dd>
        </dl>
    </div>

    <div class="aw-game green-frame bg-planet-2">
        <h3>Aliens: Colonial Marines</h3>
        <dl>
            <dt>Developer(s)</dt>
            <dd><a href="/wiki/Gearbox_Software" target="_blank" title="Gearbox Software">Gearbox Software</a></dd>
            <dt>Publisher(s)</dt>
            <dd><a href="/wiki/Sega" target="_blank" title="Sega">Sega</a></dd>
            <dt>Release</dt>
            <dd>2013</dd>
            <dt>Platform(s)</dt>
            <dd>PC, PlayStation 3, Xbox 360</dd>
            <dt>plot</dt>
            <dd>https://en.wikipedia.org/wiki/Aliens:_Colonial_Marines</dd>
        </dl>
    </div>

    <footer>
        <p class="text-right">For this part I plan to use google's API to import game details. But it is plain text for
            now:</p>
    </footer>
</div>
</body>

</html>